<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDg_-i_7IlClcTOlZDB7y3HVshWGkOtKSw</string>
	<key>GCM_SENDER_ID</key>
	<string>810595482949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carWorkshopApp</string>
	<key>PROJECT_ID</key>
	<string>car-workshop-74b81</string>
	<key>STORAGE_BUCKET</key>
	<string>car-workshop-74b81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810595482949:ios:e1074682e5f814e80f922c</string>
</dict>
</plist>